<form class="flex flex-col items-center justify-center w-full">
  <h1>Faça login</h1>

  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input data-ps="input-email" type="email" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      data-ps="input-password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      id="visible-password"
      mat-icon-button
      type="button"
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-stroked-button type="submit" id="login-button">Login</button>

  <h5 class="not-user">
    Not a user?
    <a tabindex="0" aria-label="Not a user? Register now" role="button"
      >Register now</a
    >
  </h5>
</form>
