<form
  class="flex flex-col items-center justify-center w-full"
  [formGroup]="loginForm"
>
  <h1>Faça login</h1>

  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input
      data-ps="input-email"
      formControlName="email"
      type="email"
      matInput
    />
    <mat-error>Field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      data-ps="input-password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      id="visible-password"
      mat-icon-button
      type="button"
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error>Field is required</mat-error>
  </mat-form-field>

  <button mat-stroked-button type="submit" id="login-button">Login</button>

  <h5 class="not-user">
    Not a user?
    <a tabindex="0" aria-label="Not a user? Register now" role="button"
      >Register now</a
    >
  </h5>
</form>
